<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  <h1><%= title %></h1>

  <ul>
    <li>이름: <%= userInfo.name %></li>
    <li>성별: <%= userInfo.gender %></li>
    <li>날짜: <%= userInfo.year %>-<%= userInfo.month %>-<%= userInfo.day%></li>
    <li>관심사: <%= userInfo.attention %></li>
    <li>이메일: <%= userInfo.email %></li>
    <li>비밀번호: <%= userInfo.pw %></li>
  </ul>

  <br><br>
  <a href="/">메인으로 돌아가기</a>
</body>
</html>